<h2>New Authors</h2>
<form action="/authors" method="POST">

    <%- include('_form_fields') %>

    <!-- <a> tags are used for creating a link to something -->
    <a href="/authors">Cancel</a>
    <!-- buttons are used to do interact with the forms or the other objects -->
    <button type="submit">Create</button>


</form>